<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E00L9PT3V9');
  </script>

  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <!--link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css"-->
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Inter:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <div id="intro" class="section intro-section">
          <div class="intro-text">
            <h1>Laura Mascarell</h1>
             <p>
                I am an incoming postdoctoral researcher in <a href="https://sundong.kim" target="_blank">Professor Sundong Kim's lab</a> at 
                <a href="https://ai.gist.ac.kr/aieng/index.do" target="_blank">Gwangju Institute of Science and Technology</a> (GIST) 
                in South Korea. As part of the <a href="https://sites.google.com/view/dgist-innocore/" target="_blank">Research
                Group for Bio-Embodied Physical AI</a>, I will be contributing to the research efforts on human-centered and trustworthy AI.
              </p>
              <p>
                Previously, I was a postdoctoral researcher at <a href="https://inf.ethz.ch" target="_blank">ETH Zurich</a>
                in Switzerland. I have a background in <a href="https://www.upc.edu/ca" target="_blank">computer science</a> and hold a PhD in computational linguistics from 
                the <a href="https://www.cl.uzh.ch/en.html" target="_blank">University of Zurich</a>.
                My PhD advisor was Professor Martin Volk, whose mentorship continues to inspire my work.
              </p>
              <p style="text-align:center">
                <a href="mailto:lmascarell@gist.ac.kr"><i class="fas fa-envelope fa-xl icon-spacing"></i></a>
                <a href="https://scholar.google.com/citations?user=lXCoOOsAAAAJ&hl" target="_blank"><i class="fas fa-graduation-cap fa-xl icon-spacing"></i></a>
                <a href="https://github.com/lmascarell" target="_blank"><i class="fab fa-github fa-xl icon-spacing"></i></a>
                <a href="https://www.linkedin.com/in/lmascarell/" target="_blank"><i class="fab fa-linkedin fa-xl icon-spacing"></i></a>
             </p>
          </div>
          <div class="profile-img">
            <img style="width:100%;max-width:100%;border-radius:50%;overflow:hidden;" alt="profile photo" src="images/profile.jpg">
          </div>
        </div>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research</h2>
              <!--p>
                I'm interested in
              </p-->
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <!--td style="padding:2.5%;width:20%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td-->
            <td style="padding:2.5%;padding-top:0.75%;padding-bottom:0.75%;width:100%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}
              <br>
              {{post.venue}} {{ post.date | date: "%Y" }}
              <br>
              {% if post.paper %}
              <a href="{{post.paper}}" target="_blank">paper</a>
              {% endif %}
              {% if post.poster %}
              · <a href="{{post.poster}}" target="_blank">poster</a>
              {% endif %}
              {% if post.video %}
              · <a href="{{post.video}}" target="_blank">video</a>
              {% endif %}
              {% if post.code %}
              · <a href="{{post.code}}" target="_blank">code</a>
              {% endif %}
              {% if post.dataset %}
              · <a href="{{post.dataset}}" target="_blank">dataset</a>
              {% endif %}
              {% if post.slides %}
              · <a href="{{post.slides}}" target="_blank">slides</a>
              {% endif %}
              {% if post.website %}
              · <a href="{{post.website}}" target="_blank">website</a>
              {% endif %}
              {% if post.demo %}
              · <a href="{{post.demo}}" target="_blank">demo</a>
              {% endif %}
              <!--p></p-->
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Teaching</h2>
              <!--p>
                I'm interested in
              </p-->
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;padding-top:0.75%;padding-bottom:0.75%;width:100%;vertical-align:middle">
              <h3>Programming Techniques in Computational Linguistics 2</h3>
              <br>
              University of Zurich · Spring 2022, 2016, 2015
              <br>
              <a href="https://studentservices.uzh.ch/uzh/anonym/vvz/?sap-language=EN&sap-ui-language=EN#/details/2021/004/SM/50941577" target="_blank">course</a>
            </td>
          </tr>
          <tr>
            <td style="padding:2.5%;padding-top:0.75%;padding-bottom:0.75%;width:100%;vertical-align:middle">
              <h3>Programming Techniques in Computational Linguistics 1</h3>
              <br>
              University of Zurich · Spring 2014
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>


  <div class="footer">
    <p style="text-align:center;font-size:12px">
      &copy; 2025 Laura Mascarell. Adapted from <a style="color:white; font-size:12px;" href="https://leonidk.com" target="_blank"> Leonid Keselman's website.</a>
    </p>
</div>
</body>

</html>

